/*
    footer 
*/

footer{
    height: 300px;
    width: 96%;
    background-color:  #30444e;
    border: 2px solid gray;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

footer .basic{
    display: flex;
    flex-direction: row;
}

footer .basic img{
    height: 25px;
    margin-right: 10px;
}
footer .basic li{
    list-style: none;
}



.right-footer .information li{
    list-style: none;
}

.right-footer .information img{
    height: 25px;
    width: 25px;
}

.right-footer .follow{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.right-footer .follow li{
    display: flex;
}

footer .left-footer{
    text-transform: uppercase;
}
