/* ===================== LOGIN PAGE ===================== */

.login-container {
  width: 950px;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid gray;
  margin: auto;
  margin-top: 8%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* LEFT SIDE (Form section) */
.login-left {
  width: 60%;
  background-color: #273b46;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-left h2 {
  color: #fe38b5;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.social-text {
  color: #ccc;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.social-logos {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.icon {
  height: 50px;
  width: 50px;
  border: 2px solid #fe38b5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.icon img {
  height: 25px;
  width: 25px;
}

.icon:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 0 10px #fe38b5;
}

/* Form Styling */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form p {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.login-form input {
  width: 80%;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fe38b5;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
}

.login-form input::placeholder {
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 1px;
}

.login-form input:focus {
  outline: none;
  border-bottom: 2px solid #ff6bb5;
}

.login-form .btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form button {
  height: 40px;
  width: 170px;
  border: 2px solid white;
  border-radius: 10px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.login-form button:hover {
    cursor: pointer;
  border: 2px solid #fe38b5;
  box-shadow: 0 0 10px #fe38b5;
  transform: translateY(-3px);
}

/* RIGHT SIDE (Welcome) */
.login-right {
  width: 40%;
  background: linear-gradient(135deg, #e04397, #ff6bb5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-right h1 {
  font-size: 35px;
  margin: 0;
  text-transform: uppercase;
}

.login-right p {
  margin: 15px 0;
  font-size: 15px;
}

.login-right button {
  height: 40px;
  width: 170px;
  border: 2px solid white;
  border-radius: 10px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  font-weight: 500;
}

.login-right button:hover {
    cursor: pointer;
  border: 2px solid #273b46;
  /* background: white; */
  /* color: #e04397; */
  transition: 0.3s ease-in-out;
  transform: translateY(-2px);
}
