nav {
    height: 80px;
    background: #283E4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    box-shadow: 0 2px 0px rgba(33, 50, 59, 0.8);
}

nav span {
    color: #FE38B5;
}

nav .left {
    margin-left: 50px;
}

nav .right {
    margin-right: 50px;
}

nav .right button {
    background:transparent;
    height: 40px;
    width: 120px;
    border: 2px solid white;
    border-radius: 10px;
}

nav .right button:hover{
    cursor: pointer;
    transition: 1s ease-in-out;
    background: linear-gradient(90deg,rgba(39, 12, 240, 1) 0%, rgba(55, 55, 191, 1) 36%, rgba(71, 212, 237, 1) 100%);  
}

nav .middle ul {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav .middle ul li {
    position: relative;
    cursor: pointer;
}

nav .middle ul li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FE38B5;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}


nav .middle ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav .middle ul li:not(:hover)::after {
    transform-origin: right;
}

.navbar .right .profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fe38b5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.profile-wrapper {
  position: relative;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fe38b5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* below the circle */
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  transition: 0.2s;
}

.dropdown-menu ul li:hover {
  background-color: #fe38b5;
  color: white;
  border-radius: 5px;
}

